.form {
  padding: 15px;
  width: 270px;
  border: 1px solid transparent;
  border-radius: 10px;
  background-color: dimgray;
  color: #fff;
  -webkit-box-shadow: 8px 7px 27px 1px rgba(34, 60, 80, 0.31);
  -moz-box-shadow: 8px 7px 27px 1px rgba(34, 60, 80, 0.31);
  box-shadow: 8px 7px 27px 1px rgba(34, 60, 80, 0.31);
  font-family: "Popins", sans-serif;
  font-weight: 450;
  font-size: 15px;
}

.inputs {
  width: 250px;
  display: flex;
  flex-direction: column;
}

.inputs label {
  margin-top: 7px;
  margin-left: 5px;
  margin-bottom: 3px;
}

.inputs input[type="text"],
input[type="tel"],
input[type="email"] {
  font-size: 15px;
  border-radius: 15px;
  height: 25px;
  padding: 3px 10px;
}

.footer {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  /* align-items: flex-end; */
  flex-direction: column;
}

.age {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.age input[type="checkbox"] {
  height: 22px;
  width: 22px;
}

.agebox {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.buttons {
  display: flex;
  margin-top: 10px;
}

.btn {
  text-decoration: none;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  /* font-size: 1.2rem; */
  box-sizing: border-box;
  border-radius: 10px;
  height: 40px;
  cursor: pointer;
  padding: 9px 21px;
  margin-left: 10px;
  letter-spacing: 2px;
  border: 1px solid #f2994a;
  background: transparent;
  color: #f2994a;
}

.btn-orange {
  color: #fff;
  background: #f2994a;
  box-shadow: -11.09px 18.13px 36.6483px rgba(242, 153, 74, 0.23);
}

.buttons .btn:first-child {
  margin-left: 0;
}

.btn:active {
  box-shadow: inset 1px 1px 13px -5px rgb(0 0 0 / 87%);
  background: #f2994a;
  color: #fff;
  border: 1px solid #f2994a;
}
