table,
td,
th {
  border: 2px solid black;
  text-align: center;
  border-collapse: collapse;
}

th,
td {
  padding: 2px;
}

.col__1 {
  background-color: rgb(80, 80, 80);
}

.col__2 {
  background-color: blanchedalmond;
}

th {
  font-style: italic;
}
