* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.review-form {
  margin: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 300px;
  background-color: darkslateblue;
  border-radius: 10px;
}

.review-form__title {
  color: #fff;
  font-size: 24px;
}

.review-form__name {
  color: #fff;
}

.review-form__text {
  color: #fff;
  font-size: 16px;
}

.review-form__textarea {
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 2px 5px;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
}

.review-form__text-input {
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: none;
  height: 30px;
  padding: 0 5px;
  font-size: 20px;
  font-family: "Ubuntu", sans-serif;
}

.review-form__subcribe-box {
  display: flex;
  align-items: center;
}

.review-form__text {
  font-size: 18px;
}

.review-form__checkbox {
  height: 20px;
  width: 20px;
  margin-right: 5px;
  border-radius: 10px;
  border: 1px solid #f2994a;
  /* background-color: ; */
}

.review-form__checkbox:checked {
  background: #f2994a;
}

.review-form__submit-button {
  margin-top: 10px;
  background-color: #f2994a;
  color: #fff;
  border: 1px solid #f2994a;
  border-radius: 10px;
  padding: 10px 0;
  font-size: 20px;
}

.review-form__submit-button:active {
  box-shadow: inset 1px 1px 13px -5px rgb(0 0 0 / 87%);
}

.elements {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 1030px;
  width: 1410px;
  align-items: center;
  align-content: center;
  background-color: antiquewhite;
  border: 4px solid fuchsia;
}

.element {
  width: 330px;
  margin: 5px;
  /* padding: 20px; */
  border: 6px solid red;
  border-radius: 10px;
  background: #f2994a url(./../img/spongebob_PNG32.png) center center no-repeat;
  background-size: 80%;
}

.element:first-child {
  height: 37%;
}
.element:nth-child(2) {
  height: 58%;
}
.element:nth-child(3) {
  height: 30%;
}
.element:nth-child(4) {
  height: 65%;
}
.element:nth-child(5) {
  height: 75%;
}
.element:nth-child(6) {
  height: 20%;
}
.element:nth-child(7) {
  height: 60%;
}
.element:last-child {
  height: 35%;
}
